      <p><%= t('landing_page.text') %></p>
      <p>
        <ul>
          <li><a href="/logs"><%=t('landing_page.upload_data')%></a></li>
          <li><a href="/periods"><%=t('landing_page.periods')%></a></li>
          <li><a href="/reports"><%=t('landing_page.reports')%></a></li>
          <li><a href="/analysis"><%=t('landing_page.analysis')%></a></li>
        </ul>
      </p>
